@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --yellow: #F0DB4F;
    --cream: #FFFDD0;
    --green: #2AAA8A;
    --blue: #3776ab;
    --js-yellow: #f7df1e;
    --css-blue: #0095FF;
    --html-red: #E34F26;
    --angular-red: #DD1B16;
    --react-blue: #61DAFB;
    --spring-green:#00A98F;
    --python-blue: #3776AB;
}

body {
    background-color: black;
    margin: 0;
    height: 100%;
}

.blob {
    position: fixed;
    background-image: linear-gradient(to right, aquamarine, mediumpurple);
    height: 500px;
    width: 500px;
    left: 50%;
    right: 50%;
    border-radius: 50%;
    animation: spinningAnimation 20s infinite;
    translate: -50% -50%;
    filter: blur(200px);
}
  
.blur {
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(200px);
    z-index: 0;
}

.section {
    color: White;
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#one {
    display: flex;
    justify-content: center;
    align-items: center;
}

#one > .heading > h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900px;
    font-size: 5rem;
}

#one > .heading > p {
    font-family: 'Rubik', sans-serif;
    font-weight: 300px;
    font-size: 1.5rem;
}

#one > .image {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    overflow: hidden;
    margin-left: 75px;
    animation: bubble 4s ease-in-out infinite;
    border: 2px solid white;
}

#one > .image > img {
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.card {
    aspect-ratio: 2 / 3;
    height: 50%;
    margin: 1%;
    /* border: 3px solid black;
    border-radius: 5%; */
    /* background-image: linear-gradient(
        to right,
        var(--g1),
        var(--g2),
        var(--g1)
    );
    overflow: hidden;
    background-size: 200%;
    animation: pan 4s linear infinite; */
    position: relative;
    
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.header {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    top: 5%;
}

.card:nth-child(2) {
    background: linear-gradient(
        to right,
        #0077B6,
        #FFA500,
        #0077B6
    );
    /* overflow: hidden; */
    background-size: 200%;
    animation: pan 4s linear infinite;
}

.card:nth-child(3) {
    background: linear-gradient(
        to right,
        var(--g2),
        var(--cream),
        var(--g2)
    );
    /* overflow: hidden; */
    background-size: 200%;
    animation: pan 4s linear infinite;
}

.card:nth-child(4) {
    background: linear-gradient(
        to right,
        var(--green),
        var(--cream),
        var(--green)
    );
    /* overflow: hidden; */
    background-size: 200%;
    animation: pan 4s linear infinite;
}

.card:nth-child(5) {
    background: linear-gradient(
        to right,
        var(--blue),
        var(--cream),
        var(--blue)
    );
    /* overflow: hidden; */
    background-size: 200%;
    animation: pan 4s linear infinite;
}

.card-header {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    color: slategray;
    position: absolute;
    width: 100%; /* Make the header the same width as the card */
    top: 0; /* Align to the top of the card-container */
    transform: translateY(-120%); /* Move the header above the card */
    text-align: center; /* Center the header text */
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    top: 50%;
    left: 50%;
    transition: opacity 1200ms ease;
    pointer-events: none;
    gap: 1.5rem;
}

.icon {
    pointer-events: none;
    font-size: 7rem;
}

.fa-square-js { color: var(--js-yellow); }
.fa-css3-alt { color: var(--css-blue); text-shadow: 0px 0px 2px slategray; }
.fa-html5 { color: var(--html-red); text-shadow: 0px 0px 2px slategray; }
.fa-react { color: var(--react-blue); }
.fa-angular { color: var(--angular-red); }
.fa-leaf{ color: var(--spring-green); }
.fa-python{ color:var(--python-blue); }

.toggled {
    opacity: 0;
}

#two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    position: relative;
}

.tile:before {
    background-color: rgb(20, 20, 20);
    content: "";
    position: absolute;
    inset: 0.5px;
}

.tile:hover:before{
    opacity: 50%;
}

.two-footer {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: slategray;
    font-style: italic;
    top: 85%;
}
  
#three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-section-grid-container {
    width: 80%; /* Set the width to 80% of its parent */
    height: 80%; /* Set the height to 80% of its parent */
    display: grid;
    gap: 2rem; /* Adjust the gap as needed */
    grid-template-areas: 
        "contact about about"
        "contact projects projects";
}

.three-section-side {
    border-radius: 10px;
    background: #232526; 
    background: -webkit-linear-gradient(to right, #232526, #414345); 
    background: linear-gradient(to right, #232526, #414345);    
}

.three-section {
    border-radius: 10px;
}

.three-section:nth-child(2) {
    background: #4B79A1;  
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1); 
    background: linear-gradient(to right, #283E51, #4B79A1); 
}

.three-section:nth-child(3) {
  background: #fd746c; 
  background: -webkit-linear-gradient(to right, #fd746c, #ff9068);
  background: linear-gradient(to right, #fd746c, #ff9068); 
}

#contact { 
    grid-area: contact; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}
#about { grid-area: about; }

#contact > h2 {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    width: 90%;
    border-bottom: 2px solid white;
    padding: .5rem;
}

.contact-icons {
    display: flex;
    flex-direction: column;
}

.contact-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem;
}

.contact-icons-container > span, a{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    padding: .5rem;
}

.contact-icon {
    font-size: 2rem;
}

.email-form {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    height: 50%;
}

.email-form > label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    width: 100%;
}

.email-form input[type="email"],
.email-form textarea {
    position: relative;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    width: 90%; 
}

button[type="submit"] {
    margin-top: .5rem;
    background-color: slategrey; 
    color: white; 
    border: none; 
    padding: .5rem 1rem; 
    border-radius: 3px;
}

textarea[name="message"]{
    position: relative;
    height: 13rem;
}
#about > h2, p {
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
}

#about > h2 {
    font-size: 2rem;
    font-weight: 500;
}

#about > p {
    font-size: 1.5rem;
    font-weight: 300;
}

#projects { 
    grid-area: projects;
    display: flex;
    flex-direction: row; 
}

#projects > h2, p {
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
}

#projects > h2 {
    font-size: 2rem;
    font-weight: 500;
}

.project{
    aspect-ratio: 2 / 3;
    width: 175px;
    background-color: white;
    position: relative;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.project > img {
    object-fit: cover;
    width: 100%;
}

.project-info {
    color: white;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272727; 
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 175px; /* Make this the same width as the .project container to cover the image */
    top: 100%; /* Start from the bottom of the container */
    transition: top .5s ease-in-out; /* Use transition for smooth sliding effect */
}

.project:hover .project-info {
    top: 0; 
}

.project-info > h3 {
    margin: .5rem;
}

.project-info > p {
    width: 80%;
    font-size: .7rem;
}

@keyframes spinningAnimation {
    from {
      rotate: 0deg;  
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
}

@keyframes pan {
    from{
        background-position: 0%;
    }

    to {
        background-position: -200%;
    }

}

@keyframes bubble {
    0% {
        border-radius: 60% 40% 40% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 70%;
    }

    100% {
        border-radius: 60% 40% 40% 70% / 60% 30% 70% 40%;
    }
}

@keyframes slide {
    from {
        top: 100%;
    }

    to {
        top: 0;
    }
}